@charset "utf-8";

$theme-main: #6AC1B7;
$theme-sub: #517D99;
$theme-accent1: #BFE9DB;
$theme-accent2: #DFEFED;

$theme-font: $theme-sub;
$theme-back: $theme-accent1;
$theme-header-bk: $theme-main;
$theme-main-bk: $theme-accent2;
$theme-section-header-bk: $theme-accent1;
$theme-border: $theme-main;
$theme-error: tomato;

/*
$theme-main: #A49592;
$theme-sub: #727077;
$theme-accent1: #EED8c9;
$theme-accent2: #E99787;
*/
//$theme-main: #597C8B;
//$theme-sub: #31444D;
//$theme-sub: dimgray;
//$theme-accent: #94A4A5;

// $theme-main: #1B435D;
// $theme-accent2:  #78BBE6;
// $theme-accent: #D5EEFF;
// $theme-sub: #F99F48;

