@charset "utf-8";
@forward "../common/";
@use "../common/" as common;

.footer {
	&__content {
		background-color: common.$theme-header-bk;
		padding: common.sizeByScale(0.25) common.sizeByScale(0.75);
    font-size: common.$font-size-copyright;
		font-family: common.$font-family-serif;
		font-style: italic;
		font-weight: bold;
		text-align: center;
	}
}